.sign-up-form {
	place-items: center;
	margin: 20px;
	color: var(--mainBlueColor);
}

.sign-up-form input,
.sign-up-form textarea,
.sign-up-form select {
	background-color: var(--mainDivColor);
	border: 2px solid var(--mainDarkBlueColor);
	color: rgba(255, 255, 255, 0.5);
}

.sign-up-form label {
	color: rgba(255, 255, 255, 0.4);
}
