.toggleBadAppleGoodEgg {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 60px;
}

.toggleBadAppleGoodEgg button {
	/* margin: 10px; */
	margin-bottom: 5px;
	background-color: black;
	/* color: var(--mainBlueColor); */
	color: green;
	border: none;
	font: inherit;
	word-wrap: none;
	font-size: 20px;
	cursor: pointer;
	height: 50px;
	width: 150px;
	outline: none;
	font-size: 20px;
}

.toggleBadAppleGoodEgg button:focus {
	outline: none;
}
.badAppleOrEggSelected {
	font-size: 20px;
	border-bottom: var(--mainRedColor) solid 4px;
}
