.incidentForm {
	margin: 20px;
}

.incidentForm input,
.incidentForm textarea,
.incidentForm select {
	background-color: var(--mainDivColor);
	border: 2px solid var(--mainDarkBlueColor);
	color: white;
}

.incidentForm label {
	color: var(--mainDivColor);
}
