.incidentList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 2rem;
	padding: 20px;
}

.toggleIncidentOfficer {
	display: flex;
	align-items: center;
	margin-bottom: 0px;
	justify-content: space-between;
	margin: 0 20px 0 20px;
}

.toggleIncidentOfficer button {
	background-color: black;
	color: var(--mainBlueColor);
	border: none;
	font: inherit;
	font-size: 24px;
	cursor: pointer;
	height: 50px;
	outline: none;
	text-align: center;
	text-decoration: none;
}

.toggleIncidentOfficer button:focus {
	outline: none;
	text-decoration: none;
}
.selected button {
	font-size: 24px;
	border-bottom: var(--mainRedColor) solid 4px;
	text-decoration: none;
}
