.bm-item {
	display: inline-block;
	text-decoration: none;
	margin-bottom: 10px;
	transition: color 0.2s;
	z-index: 100;
}
.bm-item:hover {
	color: grey;
}
.bm-burger-button {
	position: relative;
	width: 30px;
	height: 25px;
	left: 20px;
	top: 15px;
}
.bm-cross-button {
	height: 24px;
	width: 24px;
}
.bm-burger-bars {
	background: var(--mainDarkBlueColor);
}
.bm-burger-bars-hover {
	background: var(--mainDarkBlueColor);
}
.bm-cross {
	height: 100px;
	width: 100px;
	border: solid 1px rgb(87, 85, 85);
}
.bm-menu {
	background: rgb(12, 12, 12);
	padding-top: 0.5em;
	text-align: center;
	font-size: 2em;
	color: white;
}
.bm-item-list {
	color: white;
	padding: 0.8em;
}

.logout-button {
	background: rgb(240, 98, 98);
}
