.header {
	background-color: black;
	position: fixed;
	width: 100vw;
	top: 0;

	/* vertical-align: center; */
	z-index: 100;
}
.header-nav {
	display: flex;
	align-items: center;
	border-bottom: 2px solid var(--mainDarkBlueColor);
	height: 56px;
	background-color: black;
}

.title {
	text-align: center;
	font-size: 1.8em;
	color: var(--mainBlueColor);
	margin-left: 75px;
	margin-top: 5px;
	position: absolute;
}

.sign-in {
	background-color: black;
	color: var(--mainTextBlueColor);
	/* margin-right: -10px; */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: absolute;
	right: 0;
	margin-top: -15px;
}
