.header {
	background-color: white;
	position: fixed;
	width: 100vw;
	top: 0;
	vertical-align: middle;
}
.header-nav {
	display: flex;
	justify-content: center;
}
.title {
	text-align: center;
}

.nav-buttons {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 0px;
	margin-top: 15px;
	margin-right: 15px;
}
.side-bar {
}
