.header {
	background-color: black;
	position: fixed;
	width: 100vw;
	top: 0;
	/* vertical-align: center; */
	z-index: 100;
}
.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid var(--mainDarkBlueColor);
	/* transition: top 0.6s; */
	height: 56px;
}

.hide-nav {
	top: -50px;
}

.title {
	text-align: center;
	font-size: 1.8em;
	color: var(--mainBlueColor);
	margin-left: 40px;
}

.sign-in {
	background-color: black;
	color: var(--mainTextBlueColor);
	margin-right: -10px;
}
