.incidentSmall {
	padding: 10px;
	border: 2px solid rgb(1, 46, 71);
	border-radius: 7px;
	width: 100%;
	background-color: rgba(1, 46, 71, 0.7);
}

/* .incidentSmall h3 {
	color: black;
} */

.incidentSmall p {
	color: grey;
}

.badApple {
	border: 2px solid red;
	color: red;
	display: inline;
}

.goodEgg {
	border: 2px solid blue;
	color: blue;
	display: inline;
}
