.officerList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 2rem;
	padding: 20px;
}

.officerSmall {
	padding: 10px;
	border: 2px solid var(--mainDarkBlueColor);
	border-radius: 7px;
	width: 100%;
	background-color: var(--mainDivColor);
}

.officerSmall p {
	color: grey;
}
