.officerDetail {
	margin: 76px 20px 20px 20px; /* padding: 20px 0px 20px 80px; */
	border: 2px solid var(--mainDarkBlueColor);
	border-radius: 7px;
	background-color: var(--mainDivColor);
	display: grid;
	padding-bottom: 10px;
}

.officerDetail h2 {
	font-size: 24px;
	text-align: center;
	margin: 20px 40px 10px 40px;
}

.officerRaceGender {
	text-align: center;
	color: var(--mainBlueColor);
}

.officerIncidentTitle {
	margin-left: 20px;
}

.officerLabel {
	font-weight: 800;
	margin-left: 70px;
	color: var(--mainTextBlue);
}

.officerResult {
	color: var(--mainBlueColor);
	font-weight: 200;
	margin-left: 85px;
}

.officerIncident {
	margin: 20px;
}
