.officerList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 2rem;
	padding: 20px;
}

.officerSmall {
	padding: 10px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	width: 100%;
}

.officerSmall h3 {
	color: black;
}

.officerSmall p {
	color: grey;
}
