:root {
	--mainDivColor: #022132;
	--mainBlueColor: #b4def3;
	--mainRedColor: #ff0100;
	--mainDarkBlueColor: rgb(1, 46, 71);
}

.main {
	margin-top: 56px;
	margin-bottom: 56px;
}

.formInput {
	color: var(--mainDivColor);
}

h1 {
	text-align: center;
	color: var(--mainBlueColor);
}

h2 {
	color: var(--mainBlueColor);
}

h3 {
	color: var(--mainBlueColor);
}

button {
	background-color: var(--mainDarkBlueColor);
	border: none;
	color: rgba(0, 0, 0, 0.8);
	width: 120px;
	height: 40px;
	/* border-radius: 6px; */
}

button:hover {
	color: var(--mainBlueColor);
	border: 2px solid var(--mainBlueColor);
}
